{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <!-- Title -->
    <title>{% block title %}Anabel's Sweets{% endblock %}</title>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>

<body>
    <header>
        <a href="{% url 'home' %}">
            <h1 id="welcome">
                Anabel's Sweets
            </h1>
        </a>
        <input type="checkbox" id="nav-toggle" name="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-label">
            <i class="fa-solid fa-bars"></i>
        </label>
        <nav>
            <ul id="menu">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'wall_of_fame' %}">My Sweets</a></li>
                <li><a href="{% url 'order_cake' %}">Order</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <!--Main section-->
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <ul id="social-networks">
            <li>
                <a href="https://www.facebook.com/anabel.hernandez.5203" target="_blank" rel="noopener"
                    aria-label="Visit our Facebook page (opens in a new tab)">
                    <i class="fa-brands fa-facebook"></i></a>
            </li>
            <li>
                <a href="tel:+46790779182" aria-label="Phone number: +46790779182">
                    <i class="fa-solid fa-phone"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/anabelssweets" target="_blank" rel="noopener"
                    aria-label="Visit our Instagram page (opens in a new tab)">
                    <i class="fa-brands fa-square-instagram"></i></a>
            </li>
        </ul>
    </footer>

    <!-- Font Awesome kit -->
    <script src="https://kit.fontawesome.com/3b20d96fa9.js" crossorigin="anonymous"></script>
    
    {% block extra_js %}{% endblock %}
</body>

</html> 