{% extends 'base.html' %}
{% load static %}

{% block title %}Anabel's Sweets{% endblock %}

{% block content %}
<section id="wonderland-picture" alt="cake wonderland picture">
    <div id="welcome-text">
        <h2>Anabel's Sweets</h2>
        <h3>Professional Cake Art</h3>
    </div>
</section>
<section id="introduction">
    <div id="about-me">
        <h2>About me:</h2>
        <a>
            Hi, I'm Anabel, and I just love baking cakes.
            Since I was a kid, I've been whipping up sweet
            treats for my family and friends. In 2020, I brought
            my baking passion to Stockholm, helping families
            get the cakes they've always dreamed of. From
            simple designs to mind-blowing creations that make you
            question, "Is this really a cake?"—I'm all about
            adding a bit of sweetness to your special moments. cake
        </a>
    </div>
    <img id="anabel" src="{% static 'images/sistell.png' %}" alt="Anabel holding a cake">
</section>
<section id="cake-list">
    <h3>Types of cakes:</h3>
    <ul>
        <li class="cake-item">
            <div class="cake-content">
                <i class="fa-solid fa-cake-candles"></i>Chocolate
                <img src="{% static 'images/chocolate.jpg' %}" alt="Chocolate Cake">
            </div>
        </li>
        <li class="cake-item">
            <div class="cake-content">
                <i class="fa-solid fa-cake-candles"></i>Strawberry
                <img src="{% static 'images/strawberry.jpg' %}" alt="Strawberry Cake">
            </div>
        </li>
        <li class="cake-item">
            <div class="cake-content">
                <i class="fa-solid fa-cake-candles"></i>Tiramisu
                <img src="{% static 'images/tiramisu.jpg' %}" alt="Tiramisu Cake">
            </div>
        </li>
        <li class="cake-item">
            <div class="cake-content">
                <i class="fa-solid fa-cake-candles"></i>Oreo
                <img src="{% static 'images/oreo.jpg' %}" alt="Oreo Cake">
            </div>
        </li>
        <li class="cake-item">
            <div class="cake-content">
                <i class="fa-solid fa-cake-candles"></i>Lime
                <img src="{% static 'images/lime.png' %}" alt="Lime Cake">
            </div>
        </li>
        <li class="cake-item">
            <div class="cake-content">
                <i class="fa-solid fa-cake-candles"></i>Dulce de Leche
                <img src="{% static 'images/dulcedeleche.png' %}" alt="Dulce de leche Cake">
            </div>
        </li>
    </ul>
    <a>These are some of the many cake flavors you can choose from.</a>
</section>
{% endblock %}