{% extends 'base.html' %}
{% load static %}

{% block title %}Wall of Fame - Anabel's Sweets{% endblock %}

{% block content %}
<section id="gallery">
    <h2>Wall of Fame</h2>
    <div id="photos">
        {% for cake in cakes %}
            <div class="cake-item">
                <img src="{{ cake.image.url }}" alt="{{ cake.cake_name }}">
                <h4>{{ cake.cake_name }}</h4>
            </div>
        {% empty %}
            <p>No cakes have been submitted yet. Be the first!</p>
        {% endfor %}
    </div>
</section>
<section id="submit-cake" style="text-align:center; margin-top:40px;">
    <h3>Would you like to send yours?</h3>
    {% if user.is_authenticated %}
        <a href="{% url 'submit_cake' %}" class="btn-auth">Submit Your Cake</a>
    {% else %}
        <a href="{% url 'login' %}?next={% url 'wall_of_fame' %}" class="btn-auth">Log in to submit</a>
    {% endif %}
</section>
{% endblock %} 